body    {
    background: linear-gradient(to right bottom, #2e81d4, #b7d461);
    background-attachment: fixed;
    background-color: #2e81d4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1, fieldset.col-sm-4, #formControls {
    margin-top: 3vh;
}

#formControls   {
    margin-bottom: 3vh;
}

h1+p   {
    margin: 0;
}

#resetButton,#clearButton,#shareButton  {
    padding-left: 5px;
    padding-right: 5px;
    /* height: 48px; */
}
