body    {
    background: linear-gradient(to right bottom, #2e81d4, #b7d461);
    background-color: rgb(144, 197, 197);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 100vh; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}