.container {
    background: linear-gradient(to right bottom, #2e81d4, #b7d461);
    background-attachment: fixed;
    background-color: #2e81d4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.top-title, .form-fieldset {
    margin-top: 3vh;
}

.form-control-button-group {
    margin-top: 3vh;
    margin-bottom: 3vh;
}